form 
{
    border: 1px solid #7D8082;
	width: 25%;
	background-color: #F5F5F5;
	margin-left: 38%;
	margin-top: 15%;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #6DB1E5;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.accountbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #DCC878;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

.container {
    padding: 16px;
}

span {
	float: right;
    padding-top: 16px;
}

.cam 
{
	font-family: cursive, "URW Chancery L", serif;
	font-size: "12";
}
